@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  background-color: whitesmoke;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

button {
  border-style: none;
  background: none;
}

.bgImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inputName {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-style: none;
  border-bottom: solid 2px white;
  margin: 10px;
}

.js-toDoList {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-right: 45px;
  font-weight: 200;
  font-size: 30px;
}

.toDoList {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 200;
  font-size: 100px;
  margin: 0;
}

h4 {
  font-size: 50px;
  font-weight: 300;
  margin: 0;
}

input::placeholder {
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: 200;
  text-align: center;
}

input:focus {
  outline: none;
}

.weather-js {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 40px;
}
